deb http://ddebs.ubuntu.com {{ ansible_facts['lsb']['codename'] }} main restricted universe multiverse
deb http://ddebs.ubuntu.com {{ ansible_facts['lsb']['codename'] }} focal-updates main restricted universe multiverse
deb http://ddebs.ubuntu.com {{ ansible_facts['lsb']['codename'] }} focal-proposed main restricted universe multiverse
